@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geostar Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New Tegomin&display=swap');
@import 'tailwindcss';

@theme {
  --font-audiowide: "Audiowide", sans-serif;
  --font-geostar: "Geostar Fill", sans-serif;
  --font-sixtyfour: "Sixtyfour", sans-serif;
  --font-newtegomin: "New Tegomin", sans-serif;
}